@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner', 'cursive';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://raw.githubusercontent.com/JulianLaval/canvas-particle-network/master/img/demo-bg.jpg');
}
.wrapper{
    width: 700px;
    background: rgba(244, 178, 91, 0.647);
    position: relative;
    border-radius: 10px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.015);
}
.wrapper header{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}
.wrapper header::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgba(103, 2, 2, 0.442);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.wrapper .content{
    margin: 35px 0;
}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}
.content .author{
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 40px;
    justify-content: flex-end;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}
.buttons .features{
    display: flex;
    align-items:flex-start;
    margin-top: 80px;
    justify-content: space-between;
    float: inline-start;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: aqua;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid brown;
    transition: all 0.3s ease;
}
.features button{
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    font-style: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: grey;
    float: inline-end;

}
